<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

     <servlet>
		<servlet-name>Log4JTester</servlet-name>
		<servlet-class>com.shenkar.controller.Log4JTeaster</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Log4JTester</servlet-name>
		<url-pattern>/logs/*</url-pattern>
	</servlet-mapping>
	
  	 <servlet>
		<servlet-name>bogo</servlet-name>
		<servlet-class>com.shenkar.controller.ProgramController</servlet-class>
	</servlet>
  	<servlet-mapping>
		<servlet-name>bogo</servlet-name>
		<url-pattern>/controller/*</url-pattern>
	</servlet-mapping>
	
	
	 <servlet>
  	<servlet-name>Usersandtasks Application</servlet-name>
  	<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
  	<init-param>
  		<description>Vaadin UI class to use</description>
  		<param-name>UI</param-name>
  		<param-value>com.shenkar.clientListVaadin.clientList</param-value>
  	</init-param>
  	<init-param>
  		<description>
  		Legacy mode to return the value of the property as a string from AbstractProperty.toString()</description>
  		<param-name>legacyPropertyToString</param-name>
  		<param-value>false</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Usersandtasks Application</servlet-name>
  	<url-pattern>/clientList/*</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>Usersandtasks Application</servlet-name>
    <url-pattern>/UI/*</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>Usersandtasks Application</servlet-name>
    <url-pattern>/VAADIN/*</url-pattern>
  </servlet-mapping>
</web-app>